@mixin badge-variant-outline($bg) {
  color: $bg;
  border-color: $bg;
  background: transparent;
  border-width: 1px;
  border-style: solid;

  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      border-color: $bg;
      background-color: $bg;
    }
  }
}
